.num0 {
    width: 17% !important;
    height: 27% !important;
    left: 42% !important;
    top: 47% !important;
}

.num1 {
    width: 11% !important;
    height: 21% !important;
    left: 47% !important;
    top: 63% !important;
}

.num2 {
    width: 19% !important;
    height: 93% !important;
    left: 42% !important;
    top: 5% !important;
}

.num3 {
    width: 10% !important;
    height: 23% !important;
    left: 39% !important;
    top: 55% !important;
}

.num4 {
    width: 16% !important;
    height: 63% !important;
    left: 39% !important;
    top: 25% !important;
}

.num5 {
    width: 11% !important;
    height: 37% !important;
    left: 46% !important;
    top: 19% !important;
}

.num6 {
    width: 10% !important;
    height: 17% !important;
    left: 51% !important;
    top: 49% !important;
}

.num7 {
    width: 20% !important;
    height: 60% !important;
    left: 38% !important;
    top: 9% !important;
}

.num8 {
    width: 20% !important;
    height: 60% !important;
    left: 43% !important;
    top: 29% !important;
}

.num9 {
    width: 5% !important;
    height: 10% !important;
    left: 40% !important;
    top: 50% !important;
}

.num10 {
    width: 18% !important;
    height: 80% !important;
    left: 37% !important;
    top: 10% !important;
}