body {
  margin: 0;
  background: #f2e3a2; /* Old browsers */
  background: -moz-linear-gradient(top, #f2e3a2 0%, #ffffff 25%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2e3a2), color-stop(25%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f2e3a2 0%,#ffffff 25%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f2e3a2 0%,#ffffff 25%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f2e3a2 0%,#ffffff 25%); /* IE10+ */
  background: linear-gradient(to bottom, #f2e3a2 0%,#ffffff 25%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2e3a2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.center {
  width: 980px;
  margin: 0 auto;
  box-shadow: 0px 0px 50px -15px #000;
}

.header {
  position: relative;
  width: 980px;
  height: 0px;
  background: #61b5db; /* Old browsers */
  background: -moz-linear-gradient(top, #61b5db 0%, #319dcf 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#61b5db), color-stop(100%,#319dcf)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #61b5db 0%,#319dcf 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #61b5db 0%,#319dcf 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #61b5db 0%,#319dcf 100%); /* IE10+ */
  background: linear-gradient(to bottom, #61b5db 0%,#319dcf 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61b5db', endColorstr='#319dcf',GradientType=0 ); /* IE6-9 */
}

.nav {
  position: relative;
  width: 980px;
  height: 50px;
  background: #49c0f0; /* Old browsers */
  background: -moz-linear-gradient(top, #49c0f0 0%, #2dafe3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#49c0f0), color-stop(100%,#2dafe3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #49c0f0 0%,#2dafe3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #49c0f0 0%,#2dafe3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #49c0f0 0%,#2dafe3 100%); /* IE10+ */
  background: linear-gradient(to bottom, #49c0f0 0%,#2dafe3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49c0f0', endColorstr='#2dafe3',GradientType=0 ); /* IE6-9 */
}

.content {
  position: relative;
  width: 940px;
  min-height: 910px;
  height: auto !important;
  padding: 20px;
  background: #f1f1f1;
}

.footer {
  position: relative;
  width: 980px;
  height: 75px;
  background: #49c0f0; /* Old browsers */
  background: -moz-linear-gradient(top, #49c0f0 0%, #2eb0e3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#49c0f0), color-stop(100%,#2eb0e3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #49c0f0 0%,#2eb0e3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #49c0f0 0%,#2eb0e3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #49c0f0 0%,#2eb0e3 100%); /* IE10+ */
  background: linear-gradient(to bottom, #49c0f0 0%,#2eb0e3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49c0f0', endColorstr='#2eb0e3',GradientType=0 ); /* IE6-9 */
}
